/*https://coolors.co/f8f9fa-e9ecef-dee2e6-ced4da-adb5bd-6c757d-495057-343a40-212529*/
:root {
	/* black text: #212529, grey background: #e9ecef */
	--background: #f3f4f6;
	--text: #000000;
}
body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: var(--background);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  h1 {
    color: var(--text);
    font-size: 7vh;
    font-weight: bolder;
  }
  h2 {
    color: var(--text);
    font-size: 4vh;
    font-weight: bolder;
  }
  h3 {
    color: var(--text);
    font-size: 3.05vh;
    margin-bottom: 0;
  }
  h4 {
	color: var(--text);
	font-size: 3vh;
	margin: 0 0 20px 0;
  }
  p {
    color: var(--text);
    font-size: 3vh;
	  margin: 0 0 12px 0;
  }

.img {
    /* top | right | bottom | left */
    margin: 0% 0% 0% 0%;
    max-width:15%;  
    height: auto;
}

img#logo {
    max-width:50%;  
    height: auto;
}

.navbar {
    overflow: hidden;
    background-color: #b5bfff;
    border-bottom: solid;
    /* position: fixed;
    top: 0;
    width: 100%;
    height: 10%;
    z-index: 1; */
}

.navbar a {
  float: right;
  color: var(--text);
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

.logo {
  float: left;
  text-align: center;
  padding: 14px 14px;
  counter-reset: none;
  color: var(--text);
  font-size: 17px;
  font-weight: bolder;
}

.home {
  float: center;
  text-align: center;
  text-decoration: none;
}

/* Style the content */
.content {
	position: relative;
	/* top | right | bottom | left */
	margin: 0% 0% 5% 0%;
}

.about {
  float: center;
  text-align: center;  
}

.about p {
  float: center;
  text-align: left;
  /* top | right | bottom | left */
  margin: 0% 25% 0% 25%;  
}

.team {
  float: center;
  text-align: center;
}

.team p {
  float: center;
  text-align: left;
  /* top | right | bottom | left */
  margin: 0% 25% 0% 25%;  
}

.contact {
  float: center;
  text-align: center;
}

.footer {
	/* top | right | bottom | left */
	margin: 0% 0% 0% 0%;
  text-align: center;
	border-top: solid;
}

a:hover {
	/*background: radial-gradient(#858e96, #60696b);*/
	background: #60696b;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}




